/****
GENERIC
****/
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #E5E5E5;
}
h3{
	/*clear: both;*/
	margin: 0 50px;
}
div{
	padding: 0;
	margin: 0;
	margin-left: 10px;
	/*clear: both;*/
	overflow: hidden;
	height: auto;
	/*float:left;*/
}
p{
	margin: 0;
	padding: 0;
}

/****
CLASSES
****/
.score{
	float: left;
	color: #B9B9B9;
	font-weight: normal;
}

.card, .deck{
	float: left;
	width: 40px;
	height: 61px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	border-bottom: 2px solid #D9D9D9;
	border-right: 2px solid #D9D9D9;
	position: relative;
	font-size: 16px;
	background-color: white;
}
.deck, .card.blank{
	background-image: url('../pics/my_pic.jpg');
	background-size: 36px;
	background-repeat: no-repeat;
	background-position: 3px 13px;
}

.red{
	color: red;
}
.suit{
	font-size: 32px;
	margin: 10px 10px;
}

.left{
	position: absolute;
	left: 0;
}
.right{
	position: absolute;
	right: 0;
}
.bottom{
	position: absolute;
	bottom: 0;
}
h2.winner{
	color: #B3C833;
}

/****
SPECIFICS
****/
#draw{
	margin: 10px 0;
	display: inline-block;
}
#draw:hover{
	cursor:pointer
}